.app.dark{
  background-color: #333;
  color: rgb(156,156,156);
  transition: 2s ;

  .chartGrid{
    stroke: rgba(228,228,228,0.219);
  }

  .table{
    background-color: #111;

    .tableCell{
      color: gray;
      background-color: #111;
    }
  }
  .navbar{
    color: whitesmoke;
    border-color: #333;
    transition: 2s ;


    .search{
      border-color: gray;
    }
  }

   .sidebar{
     background-color: #111;
     border-color: #333;
     transition: 2s ;


     .top{
       .logo{
         color: #999;
       }
     }
     hr{
       border-color: #111;
     }

     ul{
       li{
         &:hover{
           background-color: #333;
         }
         .icon{
           color: #999;
         }
       }
     }
   }
   .datatable{
     transition: 2s;
     .datagrid{
       color: gray;
       border: none;

       .viewButton, .deleteButton, .cellWithStatus{
         color: gray;
         border: none;
       }
     }
   }
   input{
     background-color: transparent;
   }
} 